<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <h1>Route Description</h1>
  <table>
    <thead>
      <th>Method</th>
      <th>Path</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>GET</td>
        <td>/</td>
        <td>To render the home page (index.html)</td>
      </tr>
      <tr>
<td>GET</td>
<td>/users</td>
<td>To display all users.</td>
</tr>

<tr>
<td>GET</td>
<Td>/user/:id</Td>
<td>To display a single user.</td>
</tr>

<tr>
<td>POST</td>
<td>/user</td>
<td>Used to send user data to a server, by adding a new record.</td>
</tr>

<tr>
<td>PUT</td>
<td>/user/:id</td>
<td>Used to update your user data.</td>
</tr>

<tr>
<td>DELETE</td>
<td>/user/:id</td>
<td>Used to delete user data from the server.</td>
</tr>

<tr>
<td>GET</td>
<td>/products</td>
<td>Used to display all products.</td>
</tr>

<tr>
<td>GET</td>
<td>/product/:id</td>
<td>Used to display a single product.</td>
</tr>

<tr>
<td>POST</td>
<td>/product</td>
<td>Used to send product data to the server, by adding a new record.</td>
</tr>

<tr>
<td>PUT</td>
<td>/product/:id</td>
<td>Used to update your products data.</td>
</tr>

<tr>
<td>DELETE</td>
<td>/product/:id</td>
<td>Used to delete product data from the server.</td>
</tr>

</tbody>
</table>
</body>
</html>